@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mb-5 ">Welcome</h1>
    <p>This project is&nbsp;a&nbsp;visual part of&nbsp;the initial stage of&nbsp;immersion in&nbsp;the wonderful world Web apps with ASP.NET Core</p>
    <div class="shadow-sm p-1 mb-3"></div>
    <p>Этот проект&nbsp;&mdash; визуальная часть начального этапа погружения в&nbsp;удивительный мир ASP.NET Core</p>
</div>
